body {
  background-color: #e1f3f8;
}

h1 {
  color: #212121;
  text-align: center;
}

strong {
  font-weight: bold;
}

#introParagraph {
   text-align: center;
}

#introParagraphContainer {
     width: 33%;
}

  

