body {
  background-color: #e1f3f8;
}

h1 {
  color: #212121;
  text-align: center;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

strong {
  font-weight: bold;
}

#intro {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#organizations {
  margin-left: 10%;
  margin-top: 40px;
}

#photos {
  display: flex;
  width: 100%;
  height: 200px;
}

#photo1Div {
  width: 33%;
}

#photo3Div {
  width: 33%;
}

#photo1 {
  width: 33%;
  height: 33%
}

#photo2 {
  width: 33%;
  height: 33%
}

#photo3 {
  width: 33%;
  height: 33%
}
  

