body {
  background-color: #e1f3f8;
}

h1 {
  color: #212121;
  text-align: center;
}

h2 {
  font-size: 25px;
}

strong {
  font-weight: bold;
}

#intro {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#organizations {
  margin-left: 10%;
  margin-top: 40px;
}

  

